<mat-toolbar color="primary">
  Product Catalog
</mat-toolbar>

<div class="products-list">
  <div class="products-grid">
    <mat-card *ngFor="let product of products" class="product-card">
      
      <div class="image-wrapper">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      </div>

      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>\${{ product.price }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="card-content-center">
        <p>{{ product.description }}</p>
        <p><strong>Stock:</strong> {{ product.count }}</p>
        <p><strong>Barcode:</strong> {{ product.barcode }}</p>
      </mat-card-content>

    </mat-card>
  </div>
</div>
